<nav class="navbar navbar-default">
    <div class="container-fluid">
  
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="home">Gemini Solutions</a>
      </div>
  
      <ul class="nav navbar-nav" id="Navigation">
        <li><a class="link" routerLinkActive="active" routerLink="new">Add New</a></li>
        <li><a class="link" routerLinkActive="active" routerLink="deleted">Deleted</a></li>
        <li><a class="link" routerLinkActive="active" routerLink="lazymodule">Lazy</a></li>

      </ul>
      <input style="float: right;padding: 10px" type="submit" (click)="logout()" value="Logout" />

    </div>
  </nav>
  
  