<!-- The content below is only a placeholder and can be replaced.
<div>
  Welcome {{title}}
</div>
<div>
   <select>
      <option *ngFor="let i of days">{{i}}</option>
      </select>
</div>
<router-outlet>
</router-outlet>
 -->

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Gemini Solutions</a>
    </div>

    <ul class="nav navbar-nav" id="Navigation">
      <li><a class="link" routerLinkActive="active" routerLink="home">Add New</a></li>
      <li><a class="link" routerLinkActive="active" routerLink="deleted">Deleted</a></li>
      <li><a class="link" routerLinkActive="active" routerLink="lazymodule">Lazy</a></li>

    </ul>

  </div>
</nav>

<div class="container" id="back">
  <router-outlet>
  </router-outlet>
</div>